<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
			"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
			"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
  <session-factory>
  	<!-- 配置连接数据库的基本信息 -->
  	<property name="hibernate.connection.username">root</property>
  	<property name="hibernate.connection.password">panwei888</property>
  	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  	<property name="hibernate.connection.url">jdbc:mysql:///hibernate_db</property>
  	
  	<!-- 配置hibernate的基本信息 -->
  	<!-- hibernate所使用的数据库方言(InnoDB为支持事务的方言) -->
  	<!-- mysql version5.1以后用MySQL5InnoDBDialect，之前用MySQLInnoDBDialect -->
  	<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  	
  	<!-- 执行操作时，是否在控制台打印SQL语句 -->
  	<property name="show_sql">true</property>
  	
  	<!-- 是否对控制台打印的SQL语句进行格式化 -->
  	<property name="format_sql">true</property>
  	
  	<!-- 指定程序运行时是否在数据库自动生成数据表(自动生成数据表的策略) -->
  	<!-- 1)create:会根据.hbm.xml文件生成数据表，但是每次运行都会删除上一次的表，重新生成表
  		   2)create-drop：会根据.hbm.xml文件生成数据表，但是SessionFactory一关闭，表就自动删除
  		   3)update:也会根据.hbm.xml文件生成数据表，但若.hbm.xml文件和数据库中对应的表结构不同，
  		   Hibernate将更新数据表结构，但不会删除已有的行和列
  		   4)validate会和数据库中的表进行比较，若.hbm.xml文件中的列在数据表中不存在，则抛出异常 -->
  	<property name="hibernate.hbm2ddl.auto">update</property>
  	
  	<!-- 设置hibernate的事务隔离级别 -->
  	<!-- Oracle支持两种事务隔离级别：READ COMMITED(读已提交数据)和SERIALIZABLE(串行化)，Oracle默认READ COMMITED。
  	MySQL支持四种事务隔离级别：READ UNCOMMIT(读未提交数据)、READ COMMITED(读已提交数据)、REPEATABLE READ(可重复读)、
  	 SERIALIZABLE(串行化)，MySQL默认REPEATABLE READ。
  	 四种事务隔离级别设置如下：
  	 1、READ UNCOMMIT  2、READ COMMITED   4、REPEATABLE READ  8、SERIALIZABLE-->
  	 <property name="hibernate.connection.isolation">2</property>
  	
  	<!-- 配置C3P0数据源 -->
  	<property name="hibernate.c3p0.max_size">10</property><!-- 数据库连接池的最大连接数 -->
  	<property name="hibernate.c3p0.min_size">5</property>  <!-- 数据库连接池的最小连接数 -->
  	<property name="hibernate.c3p0.acquire_increment">2</property><!-- 连接池在无空闲连接可用时一次性创建的新数据库连接数 -->
  	
  	<property name="hibernate.c3p0.idle_test_period">2000</property><!-- 每2000毫秒检查所有连接池中的空闲连接 -->
  	<property name="hibernate.c3p0.timeout">2000</property><!-- 数据库连接池中连接对象在多长时间没有使用过后，就应该被销毁 -->
  	
  	<property name="hibernate.c3p0.max_statements"></property><!-- 缓存statement对象的数量 -->
  	
  	
  	<!-- 设定JDBC的Statement读取数据的时候每次从数据库中取出的记录条数(Oracle支持，MySQL不支持) -->
  	<property name="hibernate.jdbc.fetch_size">100</property>
  	<!-- 设定对数据库进行批量删除、批量更新和批量插入的时候的批次大小(Oracle支持，MySQL不支持) -->
  	<property name="hibernate.jdbc.batch_size">30</property>
  	
  	<!-- 指定关联的.hbm.xml文件 -->
  	<mapping resource="com/amaker/bean/News.hbm.xml"/>
  	<mapping resource="com/amaker/bean/User.hbm.xml"/>
  	<mapping resource="com/amaker/bean/Worker.hbm.xml"/>
  	<!-- <mapping resource="com/atguigu/hibernate/entities/n21/Customer.hbm.xml"/>
  	<mapping resource="com/atguigu/hibernate/entities/n21/Order.hbm.xml"/> -->
  	<mapping resource="com/atguigu/hibernate/entities/n21/both/Customer.hbm.xml"/>
  	<mapping resource="com/atguigu/hibernate/entities/n21/both/Order.hbm.xml"/>
  	<!-- <mapping resource="com/atguigu/hibernate/one2one/foreign/Department.hbm.xml"/>
  	<mapping resource="com/atguigu/hibernate/one2one/foreign/Manager.hbm.xml"/> -->
  	<mapping resource="com/atguigu/hibernate/one2one/primary/Department.hbm.xml"/>
  	<mapping resource="com/atguigu/hibernate/one2one/primary/Manager.hbm.xml"/>
  	
  </session-factory>
</hibernate-configuration>
